Checks: >
  -*,
  bugprone-*,
  performance-*,
  modernize-*,
  portability-*,
  misc-*,
  readability-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -modernize-use-trailing-return-type,
  -misc-non-private-member-variables-in-classes,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -readability-make-member-function-const,
  -cppcoreguidelines-special-member-functions,
  -readability-convert-member-functions-to-static
HeaderFilterRegex: ""
CheckOptions:
  readability-identifier-naming.VariableCase: lower_case
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.ConstantCase: UPPER_CASE
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
ExtraArgs:
  - -std=c++23
