CompileFlags:
  Add:
    - -std=c++23
    - -Wall
    - -Wextra
    - -Wpedantic
    - -Wconversion
    - -Wshadow
    - -Wnon-virtual-dtor
    - -Wold-style-cast
    - -Wcast-align
    - -Wunused
    - -Woverloaded-virtual
    - -Wmisleading-indentation
    - -Wnull-dereference
    - -Wdouble-promotion
    - -Wformat=2
    - -Wimplicit-fallthrough
Diagnostics:
  UnusedIncludes: Strict
